.container {
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
  margin-top: 0;
  padding: 0 30px;
}

.left {
  float: left;
}
.right {
  float: right;
}

* {
  margin: 0;
}
html,
body {
  height: 100%;
  // overflow:hidden;
}
#root {
  height: 100%;
}
#main_content {
  background-image: url(../../static/images/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 90px;
  padding-bottom: 45px;
  min-height: 100%;
}
