$hdrFont: "Montserrat", sans-serif;
$titleFont: "Baloo", sans-serif;
$bodyFont: "Roboto", sans-serif;
$featureFont: "Orbitron", sans-serif;

$colorPrimaryLight: #ebe6f1;
$colorPrimaryDark: #0e255c;
$colorSecondary: #026;
$colorSecondaryDark: #b4021d;
$colorSecondaryLight: #eee;
$pin: rgba(255, 255, 255, 0.2);
$grey: #f4f4f4;
$bodyText: #555;
$colorHighlight: #66ab8c;
$colorHighlightBlue: #1a71b6;
$colorSecondaryLightBlue: #2596be;
$colorGrey: #6c6c6c;
